@tailwind base;
@tailwind components;
@tailwind utilities;

#inner-circle {
	background: -moz-radial-gradient(transparent 150px, rgba(0, 0, 0, 1) 150px);
	background: -webkit-radial-gradient(
		transparent 150px,
		rgba(0, 0, 0, 1) 150px
	);
	background: -ms-radial-gradient(transparent 150px, rgba(0, 0, 0, 1) 150px);
	background: -o-radial-gradient(transparent 150px, rgba(0, 0, 0, 1) 150px);
}
